header {
  width: 100%;
  height: 8.8rem;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--gray-800);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header nav ul {
  display: flex;
  gap: 4rem;

}

header nav ul li a {
  font-family: "Inter", sans-serif;
  color: var(--gray-100);
  font-size: 1.6rem;
  letter-spacing: -0.48px;
  transition: opacity .3s ease;
}

header nav ul li a:hover {
  opacity: 0.7;
}

.s-hero {
  width: 100%;
  padding-top: 12rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.s-hero::after {
  content: '';
  width: 100%;
  height: 22rem;
  background-color: var(--pink-10);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.s-hero .text {
  width: 100%;
  max-width: 72rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 6.4rem;
  position: relative;
}

.s-hero .text h1 {
  position: relative;
  font-weight: 600;
  letter-spacing: -1.68px;
}

.s-hero .text h1::before {
  content: '';
  width: 100%;
  max-width: 59.9rem;
  height: 2.2rem;
  background: url("../imgs/line-title.svg") no-repeat center center;
  position: absolute;
  bottom: -5px;
  left: 3.9rem;
  z-index: -1;
}

.s-hero .text p {
  max-width: 55.6rem;
  margin: 0 auto;
  letter-spacing: -0.54px;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
  color: var(--gray-300);
}

.s-hero .text .arrow {
  position: absolute;
  bottom: 1.7rem;
  left: 5.5rem;
}

.s-hero .ilustra {
  padding: 0 1.5rem;
}

.s-digital {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
  padding-top: 128px;
}

.s-digital h3 {
  text-align: center;
  max-width: 53.5rem;
  margin: 0 auto;
  margin-bottom: 64px;
}

.s-digital ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-800);
  padding-bottom: 128px;
}

.s-art-front {
  padding-top: 128px;
}

.s-art-front .title-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 64px;
}

.s-art-front .title-text h3 {
  font-weight: 600;
  letter-spacing: -1.2px;
  margin-bottom: 16px;
}

.s-art-front .title-text p {
  color: var(--gray-600);
  letter-spacing: -0.54px;
}

.s-art-front .title-text .left {
  max-width: 539px;
}

.s-art-front .title-text .left p {
  max-width: 452px;
}

.s-art-front .title-text .right {
  max-width: 429px;
}

.s-art-front .all {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 32px;
}

.s-art-front .all .card-post:first-child {
  grid-column: span 2;
}

.s-newsletter {
  padding: 89px 0;
  background-color: var(--pink-10);
  margin-top: 128px;
}

.s-newsletter .container {
  text-align: center;
}

.s-newsletter h2 {
  max-width: 646px;
  font-weight: 600;
  letter-spacing: -1.2px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.s-newsletter p {
  max-width: 687px;
  margin: 0 auto;
  margin-bottom: 24px;
}